apex==0.9.10dev
comet_ml==3.37.0
einops==0.7.0
imageio==2.31.6
kornia==0.7.1
matplotlib==3.7.1
numpy==1.23.5
opencv_contrib_python==4.8.0.76
opencv_python==4.8.0.76
opencv_python_headless==4.9.0.80
Pillow==10.2.0
pycave
pytorch_msssim==1.0.0
scikit_learn==1.2.2
scipy==1.12.0
setuptools==67.7.2
tensorflow==2.15.0
torchgeometry==0.1.2
tqdm==4.66.1
